<mat-sidenav-container class="int-sidenav-container">
  <mat-sidenav #sidenav mode="side" class="int-sidenav-container__menu">
    <mat-list>
        <mat-list-item *ngFor="let device of devices" appDeviceDrag> 
            <mat-icon matTooltip="{{device.name}}">{{device.icon}}</mat-icon>
        </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content id="content">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>view_headline</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>