<mat-sidenav-container class="int-sidenav-container">
  <mat-sidenav #sidenav class="int-sidenav-container__left-menu" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let device of devices" appDeviceDrag>
        <mat-icon matTooltip="{{device.name}}">{{device.icon}}</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="int-sidenav-container__left-menu">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="int-sidenav-container__menu-icon">more_vert</mat-icon>
      </button>
    </div>
    <div appWorkspace>
      <div id='chart' style="height:300px"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
